#section-1 {
	@include desktop {
		padding: 0;
		margin-top: 5%;
	}

	.inner-content {
		display: flex;
		flex-direction: column;

		@include tablet-view {
			max-width: 720px;
			margin: 0 auto;
			width: 80%;
		}

		@include desktop {
			@include desktop-layout;
			flex-direction: row-reverse;
		}

		.shape-img {
			@include desktop {
				flex: 1;
				margin-bottom: 0;
			}
			img {
				width: 100%;
			}

			.shape {
				@include desktop {
					right: 0;
					left: 40%;
				}
			}
		}

		.text-content-container {
			@include desktop {
				flex: 1;
				text-align: left;
				padding-top: 50px;
			}
			h1 {
				line-height: 1.5;
				font-size: 3rem;

				@include desktop {
					font-size: 4.2rem;
					width: 92%;
				}
			}

			p {
				@include desktop {
					font-size: 1.5rem;
					max-width: 400px;
					padding-top: 20px;
				}
			}
		}

		.btns-container {
			text-align: center;
			margin: 4% 0;
			display: flex;
			flex-direction: row;
			justify-content: center;

			@include thin-mobile {
				flex-direction: column;
			}

			@include desktop {
				justify-content: flex-start;
				align-items: center;
			}

			.blue {
				@include thin-mobile {
					margin: 2% 0;
				}

				// &:hover {
				// 	background-color: darken($primary-color, 15%);
				// 	transition: all ease-in 0.2s;
				// }
			}

			.grey {
				background-color: lighten($grey-blue, 30%);
				color: $dark-blue;

				@include thin-mobile {
					margin: 2% 0;
				}

				&:hover {
					background-color: lighten($grey-blue, 20%);
					transition: all ease-in 0.2s;
				}
			}
		}
	}
}
