@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

$primary-color: hsl(231, 69%, 60%);
$secondary-color: hsl(0, 94%, 66%);
$grey-blue: hsl(229, 8%, 60%);
$dark-blue: hsl(229, 31%, 21%);
$body-font-size: 18px;
$nav-link-color: #fff;
$font-family: 'Rubik', sans-serif;
$mobile-box: 6%;
$thin-mobile: 22.6875em;

@mixin mobile-spacing {
	padding: 0 $mobile-box;
	margin-top: 8%;
}

@mixin titles-color {
	color: $dark-blue;
}

@mixin sub-text {
	color: $grey-blue;
	font-size: 1.4rem;
}

@mixin links {
	color: $nav-link-color;
}

@mixin text-center {
	text-align: center;
}
